@import "./abstracts/mixins";
@import "./layouts/navbar";
@import "./abstracts/variables";
@import "./layouts/footer";
@import "./layouts/button";

@include navbar;
@include default-reset;
@include warcraft-font;
@include footer;

* {
  text-align: center;
}

body {
  background-color: $wow-black;
  height: 1000px;
}

.card {
  & h3 {
    margin-top: 40px;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    @include font-style;
    color: #30c4ff;
  }

  & #more-info-div {
    background-color: $wow-dark;
    border-top: solid white 3px;
    border-bottom: solid white 3px;
  }

  & p {
    font-size: 1.4rem;
    letter-spacing: 0.08rem;
    @include font-style;
    color: $wow-light-blue;
    width: 400px;
    @include center;
  }

  & #p-hidden {
    display: none;
  }

  & .images {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    gap: 30px;

    & img {
      width: 250px;
      border: solid #deb887 3px;
      border-radius: 8px;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  @include button;

  & button {
    margin: 5px;
    width: 100px;
    font-size: 1rem;
    height: 2rem;
    letter-spacing: 0.08rem;
  }
}
