@import "./layouts/navbar";
@import "./abstracts/mixins";

@include navbar;
@include default-reset;
@include warcraft-font;

body {
  height: 1300px;
}

h1 {
  text-align: center;
}

.main-section {
  @include center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 1000px;
  width: 75%;
  text-align: center;
  font-size: 1.2rem;
  background-color: rgb(136, 255, 245);

  & .form {
    @include center;
    width: 500px;
    height: 500px;
    // display: flex;
    // flex-direction: column;
    background-color: rgb(222, 128, 212);
  }

  & p {
    width: 200px;
    background-color: lightcoral;
    text-align: center;
  }
}
