@import "./layouts/navbar";
@import "./abstracts/mixins";
@import "./abstracts/variables";
@import "./layouts/button";

@include navbar;
@include default-reset;
@include warcraft-font;

body {
  height: 1300px;
  // background-color: $wow-white;
}

.main-section {
  @include center;
  margin-top: 30px;
  height: 1000px;
  width: 75%;
  font-size: 1.2rem;

  & h3 {
    font-size: 1.6rem;
  }

  & #about-company {
    margin-bottom: 50px;
  }

  & .ceo-div {
    display: grid;
    border: dashed $wow-dark 2px;
    padding: 5px;
    grid-template-columns: 1fr 2fr 2fr;

    & #contact-us {
      display: flex;
      flex-direction: column;
      margin-top: 30px;

      & a {
        text-decoration: none;
        color: $wow-blue;

        &:hover {
          color: $wow-light-blue;
        }
      }
    }

    & #ceo-info {
      margin-top: 30px;
    }

    & p {
      width: 300px;
    }
  }

  & #ceo-img {
    width: 170px;
    height: 170px;
    border-radius: 8px;
  }

  & .form {
    @include center;
    position: relative;
    width: 350px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 8px;
    padding: 10px;
    background-color: rgb(222, 128, 212);
    border: solid $wow-dark 2px;
    border-radius: 8px;

    & label {
      font-size: 1.6rem;
      margin-right: 80px;
    }

    & input,
    textarea {
      font-size: 1.2rem;
      padding: 10px;
      height: 2rem;
      width: 99%;
      right: 0%;
    }

    & textarea {
      width: 323px;
      resize: none;
      height: 40%;
    }

    @include button;
  }

  & p {
    width: 800px;
    display: inline-block;
  }
}
