@import "./layouts/navbar";
@import "./abstracts/mixins";
@import "./abstracts/variables";
@import "./layouts/button";

@include navbar;
@include default-reset;
@include warcraft-font;

body {
  height: 1300px;
  background-color: $wow-dark;
}

h1 {
  margin-top: 5px;
  font-size: 3.7rem;
  color: #0074e0;
  text-align: center;
}

.main {
  @include center;
  @include wow-color;
  width: 500px;
  border-radius: 8px;
  padding: 5px;
  padding-bottom: 10px;

  & .form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 12px;

    & .form-item {
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      font-size: 1.3rem;
      text-transform: uppercase;

      & label {
        padding: 0.3rem;
        background-color: $wow-blue;
      }

      & input {
        padding: 0.4rem;
        font-size: 1.2rem;
      }

      & textarea {
        padding: 0.3rem;
        font-size: 1rem;
        height: 4rem;
        resize: none;
      }
    }

    & .drop-down {
      font-size: 1.2rem;
    }

    @include button;
  }
}
