@mixin button {
  & button {
    width: 97%;
    height: 2.3rem;
    font-size: 1.5rem;
    align-self: center;
    border-radius: 5px;
    background-color: $wow-blue;
    border: none;
    color: $wow-white;

    &:hover {
      transition: 0.1s linear;
      border: solid $wow-light-blue 3px;
    }
  }
}
