@mixin card-container {
  .card-container {
    display: grid;
    width: 75%;
    padding: 2rem;
    @include center;
    gap: 2rem;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    border-radius: 8px;
    color: rgb(177, 142, 12);
    letter-spacing: 1.5px;
    text-shadow: 3px 3px 5px black;

    & .card {
      @include center;
      padding: 1rem;
      @include wow-color;
      width: 100%;
      text-align: center;
      border-radius: 8px;
      border: solid transparent 3px;
      background-origin: border-box;
      // overflow: hidden;

      &:hover {
        border: solid $wow-blue 3px;
      }

      & img {
        width: 15rem;
        height: 9rem;
        border: solid white 3px;
        border-radius: 8px;

        &:hover {
          // border: solid $wow-blue 3px;
          // transform: scale(1.5);
        }
      }

      & .event-description {
        display: none;
      }

      & a {
        color: $wow-light-blue;
        text-decoration: none;
        font-size: 1.4rem;
        margin-left: 10px;

        &:hover {
          color: $wow-green;
        }
      }

      & button {
        background-color: $wow-blue;
        @include font-style;
        padding: 0.3rem;
        margin: 0.4rem;
        width: 60%;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        border-radius: 5px;
        border: solid transparent 3px;

        &:hover {
          transition: 0.3s linear;
          border: solid $wow-light-blue 3px;
        }
      }
    }
  }
}
