@mixin navbar {
  nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100px;
    top: 0;
    align-items: center;
    justify-content: center;
    gap: 15px;
    @include background;

    & a {
      font-size: 1.2rem;
      letter-spacing: 0.03rem;
      color: white;
      text-decoration: none;
      &:hover {
        color: #30c4ffdc; //$wow-light-blue; Har slutat funka på event-list sidan av nån anledning???
      }
    }
  }
}
